@define-color foreground #cdd6f4;
@define-color foreground-inactive #7f849c;
@define-color background #1e1e2e;
@define-color background-alt #313244;

* {
    font-family: Jet Brains Mono Nerd Font;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @forground-inactive;
    padding-left: 1em;
    padding-right: 1.3em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.focused {
    background-color: @background-alt;
    color: @forground;
    border-radius: 3px;
}

#sys,
#usage,
#notifytray,
#custom-scratchpad-indicator,
#clock,
#net {
    background-color: @background-alt;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}

#custom-scratchpad-indicator {
    padding-top: 0.3em;
}

#battery,
#wireplumber,
#memory,
#tray,
#language,
#network {
    margin-right: 0.8em;
}
